.o__nav {
  display: flex;
  width: 100%;

  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  li {
    display: inline;
    width: 100%;
    padding: 15px;

    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
    font-family: monospace;
    border: 2px solid black;
    border-left: 0;
    color: black;

    &:last-of-type {
      border-right: 0;
    }

    &:hover {
      background-color: grey;
      font-size: 1.6em;
    }
  }
}
